.mape{
    width: 90vw;
    height: 60vh;
    border: 0;
    margin: 40px auto;
}
.map{
    display: flex;
    justify-content: center;
}
.Contactner{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}
input{
    border: 0;
    width: 38vw;
    padding: 15px 10px ;
    outline: none;
    box-shadow: 3px 0 7px rgb(0 0 0 / 30%);
    background-color: rgb(250, 250, 250);
    transition-duration: 500ms;
}
.formaidiv{
    width: 80vw;
    margin: 0 auto;
}
.inpuner{
    width: 80vw;
    display: flex;
    justify-content: space-between;
}
.textar{
    margin: 0 auto;
    padding: 30px;
    border: 0px solid black;
    width: 76vw;
    outline: none;
    box-shadow: 3px 0 7px rgb(0 0 0 / 30%);
    background-color: rgb(250, 250, 250);
    transition-duration: 100ms;
}
.textareaidiv{
    margin: 0 auto;
    max-width: 90vw;
}